/* all pages contain original grid layout from index.html.... */


/* nested-about grid for the main */
main{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". about .";
    padding-top: 0;
}
.about-nested{
    display: grid;
    grid-area: about;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "h2"
                        "section";
    float: left;
}
#background-wrapper{background-color: rgba(255, 255, 255, 0.2);}
#h2{
    grid-area: h2;
    align-self: end;
    justify-self: end;
}
#section{
    grid-area: section;
    align-self: end;
    justify-self: end;
}
/* fitting main background for desktop... */
@media screen and (min-width: 763px) {
    main{
        overflow: hidden;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". about";
    }


}
