/* all pages contain original grid layout from index.html.... */



/* creating the main nested grid for the about page */
main{
    display: grid;
    background-image: linear-gradient(#be8f3c, #FF8C00);
    grid-template-columns: .3fr 2fr .3fr;
    grid-template-rows: .2fr 1fr 1fr 1fr;
    grid-template-areas: ". heading ."
                         ". section-1 ."
                         ". section-2 ."
                         ". section-3 .";
    justify-items: center;
    /*to allow scrolling for the paragraphs on mobile */
    overflow-y: visible;
}
#heading{
    grid-area: heading;
    animation: slide .5s forwards;
    animation-delay: 100ms;
    position: relative;
    padding: .5em;
    color: white;
    background-color: black;
    border: 2px solid white;
    font-family: monospace;
}
#section-1{
    grid-area: section-1;
    animation: slide .5s forwards;
    animation-delay: 200ms;
    line-height: 1em;
    position: relative;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}
#section-2{
    grid-area: section-2;
    animation: slide .5s forwards;
    animation-delay: 300ms;
    line-height: 1em;
    position: relative;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}
#section-3{
    grid-area: section-3;
    animation: slide .5s forwards;
    animation-delay: 400ms;
    line-height: 1em;
    position: relative;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}
/* styling the paragraphs */
p{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.4em;
    line-height: 2em;
    font-weight: bold;

}
#belowFloat{clear: right;}
/* styling the images */
#python{
    max-width: 100%;
    float: right;
}

/* animation for the heading */
@keyframes slide {
    0%   {left: -250px;}
    20%  {left: -200px;}
    40%  {left: -150px;}
    60% {left: -100px;}
    80% {left: -50px}
    100% {left: 0;}
}
