
/* for mobile view */
@media screen and (max-width: 763px) {
/* main section */
    main {
        background-image: none !important;
        background-color: pink;
    }
}

h1, h2, i, p{
    color: #E7DFDD;
    text-align: center;
}

/* content boxes */
#jscontent1{
    grid-area: content1;
}
#jscontent2{
    grid-area: myeducation;
}
#jscontent1, #jscontent2{
    background-color: #0E0B16;
    padding: 2em 1em;
}
p {
    font-size: 1.1em;
}
