/* coloring the spaces in between the grid */
body{
    background-color: #D3D3D3;
}
/* grid container styles */
.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 1.2fr 2fr .8fr;
    grid-template-areas:
    "nav nav nav"
    "main main main"
    "content1 content1 content1"
    "myeducation myeducation myeducation"
    "footer footer footer";
}
nav{
    grid-area: nav;
    background-image: linear-gradient(to right, rgba(0,0,0,0.60), rgba(0,0,0,0.90), rgba(0,0,0,0.60));
}
/* making the navigation flex layout */
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation > li, a {
    text-decoration: none;
    list-style: none;
    font-family: 'BIZ UDPMincho', serif;
    color: #F9F6EE;
}
.patty {
    visibility: hidden;
}
main {
    grid-area: main;
    padding-bottom: 20em;
    padding-top: 10em;
    background-image: url("grand-wood-library.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid white;
}
#mobile-typewriter-container{
    visibility: hidden;
    height: 0;
}
#content1{
    grid-area: content1;
    background-color: #1A2421;
}
footer{
    background: #36454F;
    grid-area: footer;
}
/* making the main nested grid */
.nested{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". transparent .";
    /* grid-template-areas: "topSection" "myPic" "bio"; */
}
/* nested grid within a nested grip ;) */
#transparent{
    grid-area: transparent;
    display: grid;
    padding-top: .5em;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "myPic" "bio";
    background-color: rgba(255,255,255,.75);
}
/* grid template areas of nested grid in the <main> */

#myPic{
    grid-area: myPic;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    justify-self: center;
}
/* adding the picture animation */
#myPic:hover{animation: spin 2s linear infinite;}
@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
#bio{
    grid-area: bio;
    justify-self: center;
    align-self: center;
    font-family: 'BIZ UDPMincho', serif;
    line-height: 2.5;
}
/* creating the typewriter effects */
.typewriter-container{
  display: inline-block;
}
.type-this{
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    animation: typing 5.5s steps(50, end) forwards;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100%;}
}

/* making the nested-content grid */
.nested-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas: "experience"
                        "card";
    grid-gap: 0.2rem;
}
/* the card in the nested-content */
#experience{
    grid-area: experience;
    color: white;
    align-self: center;
    justify-self: center;
    padding: 0 1em;
    border: 2px solid black;
    background-color: #36454F;
    font-family: "monospace", serif;
}
.card{
    grid-area: card;
    width: 80%;
    justify-self: center;
    border: 2px solid gray;
    margin: 2.5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.bar1{
    max-width: 80%;
    min-height: 10%;
    background-color: #3D2B1F;
    color: white;
    padding-left: 1em;
    margin-bottom: 2em;
}
.bar2{
    max-width: 70%;
    min-height: 10%;
    background-color: #8A3324;
    color: white;
    padding-left: 1em;
    margin-bottom: 2em;
}
.bar3{
    max-width: 50%;
    min-height: 10%;
    background-color: #A67B5B;
    color: white;
    padding-left: 1em;
    margin-bottom: 2em;
}
.bar4{
    max-width: 40%;
    min-height: 10%;
    background-color: #D2691E;
    color: white;
    padding-left: 1em;
    margin-bottom: 2em;
}

/* animations for the bars */
@keyframes grow {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/* grid for the myeducation article */
#myeducation{
    grid-area: myeducation;
    background-color: #36454F;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "gif education ."
                         "gif arrow ."
                        "gif unordered-list .";
}
#gif{
    grid-area: gif;
    width: 100%;
    height: 100%;
}
#education{
    grid-area: education;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 3em;
    padding: 1.3em;
}
#arrow{
    grid-area: arrow;
    align-self: center;
    justify-self: center;
    color: white;
}
#unordered-list{
    grid-area: unordered-list;
    align-self: center;
    justify-self: center;
    color: white;
    list-style-type: none;
    font-size: 2em;
}

/* making it responsive to mobile */
@media screen and (max-width: 763px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 2.2fr 1.2fr 1.2fr .8fr;
        grid-template-areas:
        "nav"
        "main"
        "content1"
        "myeducation"
        "footer";
        height: 100vh;
    }
    /* for the navigation */
    nav[data-visible = "false"]{height: 50px;}
    nav[data-visible = "true"] {height: 100%;}
    .navigation {
        flex-direction: column;
    }
    .btn{
        padding: .5 1em;
        margin: 1em;
    }
    /* show the patty now that the viewport is small */
    .patty {
        visibility: visible;
        color: white;
        width: 2em;
        height: 2em;
    }
    /* hide the list items in the navigation */
    ul[data-visible = "false"]{
        visibility: hidden;
        margin: 0;
    }
    /* when button is clicked and list switched to true by javascript */
    ul[data-visible = "true"] {
        visibility: visible;
    }

}

/* media query for the main section under 650px */
@media screen and (max-width: 650px) {
    main, .nested, #transparent, #myPic, #bio,.type-this{
        min-width: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    /* hide the original typewriter container */
    #bio{visibility: hidden;}
    #myPic{visibility: hidden;}

    main{
        background-image: url("main-mobile-background.jpg");
        min-height:700px;
        position: relative;
    }
    #transparent{
        position: absolute;
        top: 1%;
        left: 30%;
        grid-template-areas: "myPic" "mobile-typewriter-container";
        background-color: transparent;
    }
/* creating typewriter effect for mobile */
    #mobile-typewriter-container{
        grid-area: mobile-typewriter-container;
        visibility: visible;
        justify-self: center;
        align-self: center;
        font-family: 'BIZ UDPMincho', serif;
        height: 100%;
        padding: 1em 2em;
        background-color: rgba(255,255,255,.5);
    }
    #paragraph1{
        overflow: hidden;
        display: block;
        animation: typing 1s steps(50, end) forwards;
        width: 0;
        margin: 0;
      }
      #paragraph2{
          overflow: hidden;
          display: block;
          animation: typing 1s steps(50, end) forwards;
          animation-delay: 2s;
          width: 0;
          margin: 0;
        }
        #paragraph3{
            overflow: hidden;
            display: block;
            animation: typing 1s steps(50, end) forwards;
            animation-delay:3s;
            width: 0;
            margin: 0;
          }
      @keyframes typing {
        from { width: 0; border-right: .1em solid black;}
        to { width: 100%; border-right: none;}
    }


}
